* {box-sizing: border-box;}

body {
    margin: 0;
    background-image: url('bg.JPEG'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

header {
    text-align: center;
    font-size: 28px;
    color: white;
    text-shadow: 4px 4px 4px lightblue;
}

input {
    width: 700px;
    height: 45px;
    font-size: 22px;
}

@media screen and (max-width: 600px) {
    
    input {
        width: 90%;
        display: block;
    }
    
}
